doctype html
html(lang='en')
head
  title URL Shortener Microservice - fcc2018

body
  h1 URL Shortener Microservice - fcc2018
  form(action='new' method='post')
    input(type='text' name='url')
    button(type='submit') Shorten